body{
    background-color: blue;
}

.section {
    background-color: brown;
    width: 40%;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-style: solid black;
    display: inline-block;
}

.change_color {
    background-color: brown;
    width: 25%;
    float: right;
    margin-right: 10px;
    padding: 10px;
    text-align: center;
    border-style: solid black;
}

.text_tester {
    background-color: brown;
    width: 25%;
    float: left;
    padding: 10px;
    text-align: center;
    margin-top: 10%;
    border-style: solid black;
}

.add_text {
    background-color: brown;
    width: 25%;
    float: right;
    margin-right: 10px;
    padding: 10px;
    text-align: center;
    margin-top: 10%;
    border-style: solid black;
}